workflows/changelog-monitor-v3.json
{
  "name": "Claude Code Changelog Monitor v3",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4a00-9000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "notesInFlow": true,
      "notes": "Triggers every 12 hours to check for CHANGELOG updates"
    },
    {
      "id": "a1b2c3d4-0002-4a00-9000-000000000002",
      "name": "Fetch CHANGELOG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, 300],
      "parameters": {
        "url": "https://raw.githubusercontent.com/anthropics/claude-code/main/CHANGELOG.md",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "notesInFlow": true,
      "notes": "Fetches raw CHANGELOG.md from GitHub with full response (headers for ETag). neverError=true for graceful HTTP error handling in Detect Changes."
    },
    {
      "id": "a1b2c3d4-0003-4a00-9000-000000000003",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst input = $input.first();\n\n// Input validation guard\nif (!input || !input.json) {\n  return [];\n}\n\n// v3: HTTP status code validation (neverError passes non-2xx through)\nconst statusCode = input.json.statusCode;\nif (statusCode && statusCode !== 200) {\n  console.log(`Fetch CHANGELOG failed with status ${statusCode}, skipping.`);\n  return [];\n}\n\nconst currentContent = input.json.body || '';\nconst currentEtag = input.json.headers?.etag || '';\n\n// First run — store baseline content, skip notification (prevents false positive)\nif (!staticData.lastContent) {\n  staticData.lastContent = currentContent;\n  staticData.lastEtag = currentEtag;\n  staticData.lastChecked = new Date().toISOString();\n  return [];\n}\n\n// Quick check: if ETag matches, no changes\nif (staticData.lastEtag && staticData.lastEtag === currentEtag) {\n  staticData.lastChecked = new Date().toISOString();\n  return [];\n}\n\n// Parse version sections from markdown\nfunction parseVersions(md) {\n  const sections = {};\n  const lines = md.split('\\n');\n  let currentVersion = null;\n  let currentContent = [];\n  for (const line of lines) {\n    const versionMatch = line.match(/^## (\\d+\\.\\d+\\.\\d+.*)/);\n    if (versionMatch) {\n      if (currentVersion) {\n        sections[currentVersion] = currentContent.join('\\n').trim();\n      }\n      currentVersion = versionMatch[1].trim();\n      currentContent = [];\n    } else if (currentVersion) {\n      currentContent.push(line);\n    }\n  }\n  if (currentVersion) {\n    sections[currentVersion] = currentContent.join('\\n').trim();\n  }\n  return sections;\n}\n\nconst oldVersions = parseVersions(staticData.lastContent);\nconst newVersions = parseVersions(currentContent);\n\nconst addedVersions = {};\nconst changedVersions = {};\nconst removedVersions = {};\n\nfor (const [version, content] of Object.entries(newVersions)) {\n  if (!oldVersions[version]) {\n    addedVersions[version] = content;\n  } else if (oldVersions[version] !== content) {\n    changedVersions[version] = { old: oldVersions[version], new: content };\n  }\n}\n\nfor (const [version, content] of Object.entries(oldVersions)) {\n  if (!newVersions[version]) {\n    removedVersions[version] = content;\n  }\n}\n\nconst hasChanges = Object.keys(addedVersions).length > 0\n  || Object.keys(changedVersions).length > 0\n  || Object.keys(removedVersions).length > 0;\n\n// Always update static data\nstaticData.lastContent = currentContent;\nstaticData.lastEtag = currentEtag;\nstaticData.lastChecked = new Date().toISOString();\n\nif (!hasChanges) {\n  return [];\n}\n\nreturn [{\n  json: {\n    addedVersions,\n    changedVersions,\n    removedVersions,\n    detectedAt: new Date().toISOString()\n  }\n}];"
      },
      "notesInFlow": true,
      "notes": "Compares current CHANGELOG with staticData. v3: validates HTTP status code before processing. Line-by-line version parser (regex-free). Returns empty array (stops flow) if no changes or on error."
    },
    {
      "id": "a1b2c3d4-0005-4a00-9000-000000000005",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const { addedVersions, changedVersions, removedVersions } = $input.first().json;\n\nfunction escapeHtml(str) {\n  return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nfunction markdownToHtml(md) {\n  return String(md).split('\\n')\n    .filter(line => line.trim())\n    .map(line => {\n      if (line.startsWith('### ')) {\n        return '<h3 style=\"color:#333;font-size:15px;margin:12px 0 6px 0;\">' + escapeHtml(line.slice(4)) + '</h3>';\n      }\n      const text = line.replace(/^[-*]\\s*/, '');\n      const processed = escapeHtml(text)\n        .replace(/`([^`]+)`/g, '<code style=\"background:#f0f0f0;padding:2px 6px;border-radius:3px;font-size:13px;\">$1</code>')\n        .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>');\n      if (text !== line || line.startsWith('  ')) {\n        return '<li style=\"margin-bottom:6px;line-height:1.5;\">' + processed + '</li>';\n      }\n      return '<p style=\"margin:4px 0;line-height:1.5;\">' + processed + '</p>';\n    })\n    .join('\\n');\n}\n\nconst htmlParts = [];\n\nhtmlParts.push('<!DOCTYPE html>');\nhtmlParts.push('<html lang=\"en\">');\nhtmlParts.push('<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>');\nhtmlParts.push('<body>');\nhtmlParts.push('<div style=\"font-family:-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,sans-serif;max-width:700px;margin:0 auto;padding:20px;background:#ffffff;\">');\nhtmlParts.push('<h1 style=\"color:#1a1a2e;border-bottom:3px solid #6c5ce7;padding-bottom:10px;font-size:22px;\">Claude Code Changelog Update</h1>');\nhtmlParts.push('<p style=\"color:#666;font-size:13px;\">Detection Time: ' + new Date().toLocaleString('ko-KR', {timeZone:'Asia/Seoul'}) + ' (KST)</p>');\n\nif (addedVersions && Object.keys(addedVersions).length > 0) {\n  for (const [version, content] of Object.entries(addedVersions)) {\n    htmlParts.push('<div style=\"border-left:4px solid #00b894;background:#f0fff4;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">');\n    htmlParts.push('<h2 style=\"color:#00b894;margin:0 0 10px 0;font-size:18px;\">&#x2728; New Version: ' + escapeHtml(version) + '</h2>');\n    htmlParts.push('<ul style=\"list-style:none;padding-left:0;margin:0;\">' + markdownToHtml(content) + '</ul>');\n    htmlParts.push('</div>');\n  }\n}\n\nif (changedVersions && Object.keys(changedVersions).length > 0) {\n  for (const [version, data] of Object.entries(changedVersions)) {\n    htmlParts.push('<div style=\"margin:15px 0;\">');\n    htmlParts.push('<h2 style=\"color:#6c5ce7;margin:0 0 10px 0;font-size:18px;\">&#x1f504; Changed Version: ' + escapeHtml(version) + '</h2>');\n    htmlParts.push('<div style=\"border-left:4px solid #e74c3c;background:#fff5f5;padding:15px;margin:8px 0;border-radius:0 8px 8px 0;\">');\n    htmlParts.push('<h3 style=\"color:#e74c3c;margin:0 0 8px 0;font-size:14px;\">Previous (Removed)</h3>');\n    htmlParts.push('<ul style=\"list-style:none;padding-left:0;margin:0;text-decoration:line-through;color:#999;\">' + markdownToHtml(data.old) + '</ul>');\n    htmlParts.push('</div>');\n    htmlParts.push('<div style=\"border-left:4px solid #00b894;background:#f0fff4;padding:15px;margin:8px 0;border-radius:0 8px 8px 0;\">');\n    htmlParts.push('<h3 style=\"color:#00b894;margin:0 0 8px 0;font-size:14px;\">New (Added)</h3>');\n    htmlParts.push('<ul style=\"list-style:none;padding-left:0;margin:0;\">' + markdownToHtml(data.new) + '</ul>');\n    htmlParts.push('</div>');\n    htmlParts.push('</div>');\n  }\n}\n\nif (removedVersions && Object.keys(removedVersions).length > 0) {\n  for (const [version, content] of Object.entries(removedVersions)) {\n    htmlParts.push('<div style=\"border-left:4px solid #e74c3c;background:#fff5f5;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">');\n    htmlParts.push('<h2 style=\"color:#e74c3c;margin:0 0 10px 0;font-size:18px;\">&#x274c; Removed Version: ' + escapeHtml(version) + '</h2>');\n    htmlParts.push('<ul style=\"list-style:none;padding-left:0;margin:0;text-decoration:line-through;color:#999;\">' + markdownToHtml(content) + '</ul>');\n    htmlParts.push('</div>');\n  }\n}\n\nhtmlParts.push('<div style=\"margin-top:25px;padding-top:15px;border-top:1px solid #eee;color:#999;font-size:11px;\">');\nhtmlParts.push('<p>This email was automatically generated by an n8n workflow.</p>');\nhtmlParts.push('<p>Source: <a href=\"https://github.com/anthropics/claude-code/blob/main/CHANGELOG.md\" style=\"color:#6c5ce7;\">CHANGELOG.md</a></p>');\nhtmlParts.push('</div>');\nhtmlParts.push('</div>');\nhtmlParts.push('</body>');\nhtmlParts.push('</html>');\n\nconst htmlBody = htmlParts.join('');\nconst versionList = [\n  ...Object.keys(addedVersions || {}),\n  ...Object.keys(changedVersions || {})\n];\nconst subject = '[Claude Code] Changelog Update: ' + (versionList.join(', ') || 'Content Changed');\n\nreturn [{ json: { htmlBody, subject } }];"
      },
      "notesInFlow": true,
      "notes": "Generates color-coded HTML email. Detect Changes → Generate HTML Email direct connection."
    },
    {
      "id": "a1b2c3d4-0006-4a00-9000-000000000006",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1400, 300],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "slow0x.dev+release@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      },
      "notesInFlow": true,
      "notes": "Sends HTML email via Gmail OAuth2 API"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch CHANGELOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CHANGELOG": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": []
}
